* {
  padding: 0;
  margin: 0;
}

* #wrapper {
  font-family: 'Didact Gothic', sans-serif;
}

* #wrapper #header #top-header {
  background: #ec6d3f;
  color: white;
  font-size: 15px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

* #wrapper #header #top-header #right-top-header {
  display: flex;
}

* #wrapper #header #top-header #right-top-header a {
  color: white;
  text-decoration: none;
}

* #wrapper #header #top-header #right-top-header a:first-child {
  background: white;
  color: #ec6d3f;
  padding: 4px 15px;
  border-radius: 3px;
}

* #wrapper #header #top-header #right-top-header a:first-child:hover {
  background-color: white;
  color: #272727;
  transition-duration: 0.7s;
}

* #wrapper #header #top-header #right-top-header a:last-child {
  margin-left: 10px;
  padding: 5px 4px;
}

* #wrapper #header #top-header #right-top-header a:last-child:hover {
  color: rgba(248, 248, 248, 0.877);
}

* #wrapper #header #bottom-header {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  background-color: white;
  border-bottom: 2px solid #272727;
  font-size: 18px;
}

* #wrapper #header #bottom-header #left-bottom-header {
  display: flex;
  align-items: center;
}

* #wrapper #header #bottom-header #left-bottom-header #logo {
  align-self: center;
}

* #wrapper #header #bottom-header #left-bottom-header #logo img {
  height: 80px;
}

* #wrapper #header #bottom-header #menu ul {
  display: flex;
  height: 80px;
  align-items: center;
  list-style: none;
}

* #wrapper #header #bottom-header #menu ul li {
  margin-left: 30px;
}

* #wrapper #header #bottom-header #menu ul li a {
  color: #272727;
  text-decoration: none;
}

* #wrapper #header #bottom-header #menu ul li a:hover {
  transition: 0.3s ease;
  z-index: 1;
  border-bottom: 1px solid #272727;
  padding: 6px 0;
  font-weight: bold;
}

* #wrapper #header #bottom-header #search-area {
  position: relative;
}

* #wrapper #header #bottom-header #search-area input {
  padding: 8px;
  background-color: #ececec;
  border: none;
  border-radius: 20px;
}

* #wrapper #header #bottom-header #search-area i {
  position: absolute;
  padding: 14px;
  color: #272727;
  left: 160px;
  font-size: 15px;
}

* #wrapper .login-page h2 {
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 40px;
}

* #wrapper .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 100px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

* #wrapper .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

* #wrapper .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #313131;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

* #wrapper .form button:hover, * #wrapper .form button:active, * #wrapper .form button:focus {
  background: #515151;
}

* #wrapper section {
  padding: 60px 0;
}

* #wrapper section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

* #wrapper #footer {
  background: #fd9d2f;
}

* #wrapper #footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

* #wrapper #footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

* #wrapper #footer a:hover {
  color: black;
}

* #wrapper #footer .social li {
  padding: 3px 0;
}

* #wrapper #footer .social li a {
  color: #ffffff;
}

* #wrapper #footer .social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

* #wrapper #footer .social li a i:hover {
  font-size: 30px;
  margin-top: -10px;
}

* #wrapper #footer .quick-link li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

* #wrapper #footer .quick-link li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

* #wrapper #footer .quick-link li a {
  color: #ffffff;
}

* #wrapper #footer .quick-link li a i {
  margin-right: 5px;
}

* #wrapper #footer .quick-link li a i:hover {
  font-weight: 700;
}

@media (max-width: 767px) {
  * #wrapper #footer #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
